/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: "Inter-Variable";
    --font-accent: "PressStart2P";
    --width-page: clamp(20rem, 13.2143rem + 33.9286vw, 43.75rem);
    --color-font-main: #000;
    --image-bg-page:
      repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --color-bg-main: white;
    --weight-font-title-card: 700;
    --weight-font-main: 400;
    --size-font-card: 1.125rem;
    --margin-bottom-paragraph-card: 27px;
    --margin-bottom-card: 50px;
    --padding-content-card: 25px;
    --padding-header: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
    --margin-block-header: 100px;
    --size-font-title-header: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --margin-bottom-title-header: 20px;
    --size-font-descr-header: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --color-stroke-text: white;
    --size-inline-button-save: clamp(19.125rem, 18.4869rem + 2.723vw, 20.9375rem);
    --color-main-heart: #ff0000;
    --color-contour-heart: black;
    --color-sparks-heart: #ff0000;
  }
  
  
  @media (width <= 375px) {
    :root {
      --width-page: 100vw;
      --size-font-title-header: clamp(1.875rem, -5.0341rem + 34.5455vw, 3.0625rem);
      --size-inline-button-save: min-content;
    }
  }